.dashboard-container {
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: #ffffff;
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px;
  border-bottom: 1px solid #ddd;
}

.welcome-text {
  font-weight: 500;
}


.logo {
  font-weight: bold;
  font-size: 20px;
}

.nav-right {
  display: flex;
  gap: 16px;
  align-items: center;
}

.logout-btn {
  background-color: #ff5f6d;;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

/* Welcome Section */
.welcome-section {
  padding: 32px;
}

.welcome-section h1 {
  margin-bottom: 8px;
}

/* Cards */
.cards-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 32px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #ff5f6d;
  color: white;
  transform: translateY(-6px);
  box-shadow: 0px 10px 20px rgba(37, 99, 235, 0.35);
}

.card:hover h3,
.card:hover p {
  color: white;
}


/* Feature Banner */
.feature-banner {
  margin: 40px 32px;
  background: linear-gradient(135deg, #ff9a8b, #ff6a88, #ffb86c);
  color: white;
  padding: 32px;
  border-radius: 12px;
}

.primary-btn {
  margin-top: 16px;
  background-color: white;
  color: #ff5f6d;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}
